.carousel-item img{
	width: cover;
	height:450px;
}
.heading{
	text-align: center;
	font-weight: 600;
	color: #012f55;
	margin-bottom: 5px;
}

.pad40{
	padding: 40px 0px; 
}
.pad20{
	padding: 20px;
}

.searchbtn{
	border:2px solid red;
	height: 50px;
	width: 200px;
	background:#e83859; 
	color:#fff;
	border-radius: 15px;
}
.inputbox{
    /* text-transform: capitalize; */
	border-radius: 15px;
	padding-left: 10px;
	border:2px solid #808080;
	height: 50px;
	width: 800px;
}
.box{
    position: relative;
	border-radius: 50px;
	background: #dddddd;
	padding: 50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery a{
    text-decoration: none;
    border-radius: 5%;
    font-size: 16px;
    color: green;
}
.image a:hover{
    text-decoration: none;
}
.image:hover{
    font-size: 16px;
    color: green;
    box-shadow: 0px 5px 7px 5px rgba(15, 77, 15, 0.4);
    transition: all .5s;
}
.image {
    /* position: relative; */
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5%;
    border: 2px solid #c0c0c0;
    /* z-index: 0; */
}

.image img {
    width: 250px;
    height: 250px;
    border-radius: 5%;
    object-fit: cover;
}


.pagination {
    margin-top: 20px;
    font-size: 16px;
    justify-content: center;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #1f1f1f;
    border: 2px solid green;
    border-radius: 5px;
}

.pagination a:hover {
    text-decoration: none;
    background-color: green;
    color: white;
    border: 2px solid green;
}


.pagination .active {
    background-color: green;
    color: white;
    border: 2px solid green;
    pointer-events: none;
}


#custom-autocomplete {
    position: absolute;
    top: calc(100% - 50px);
    left: 20%;
    z-index: 1000;
    width: 25%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white; 
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.autocomplete-item {
    padding: 2px 8px;
    cursor: pointer;
    font-size: 16px; 
}

.autocomplete-item:hover {
    background-color: #f0f0f0; 
}
