<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediPlant</title>
    <link rel="stylesheet" href="css\menu.css">
    <link rel="stylesheet" href="css\user_profile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
    <div class="menu">
        <img src="img\logo.png" alt="MediPlants">
       <div class="menu_items">
       	 <span><a href="/">Home</a></span>
         <span><a href="upload">Upload</a></span>
         <span><a href="gallery">Gallery</a></span>
         <span><a href="contactus">Contact Us</a></span>
         <!-- <span><a href="login">Login</a></span>|
         <span><a href="signup">Signup</a></span> -->
       </div>
    </div>
   <div class="container">
       <div class="profile col-sm-3">utyrdfcuiytfg</div>
       <div class="details col-sm-9">huytfdxcuiytf</div>
   </div>






<center class=" social">
    <h4>FOLLOW US</h4>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://www.gmail.com/"><i class="fab fa-google-plus-g"></i></a><br><br>
</center>


<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
</body>
</html>